name: on push

on:
  push:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  check:
    runs-on: ubuntu-latest
    outputs:
      buildonly: ${{ github.ref != format('refs/heads/{0}', github.event.repository.default_branch) }}
      changes: ${{ steps.script.outputs.result }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Detect changed files
        id: changes
        uses: tj-actions/changed-files@24d32ffd492484c1d75e0c0b894501ddb9d30d62 # v47
        with:
          files_yaml: |
            workflows: [.github/workflows/**/*]
            otelcol: [otelcol/**/*]

      - uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8
        id: script
        env:
          changes: ${{ toJSON(steps.changes.outputs) }}
        with:
          script: |
            const { changed_keys = "" } = JSON.parse(process.env.changes)
            return {
              otelcol: changed_keys.includes("workflows") || changed_keys.includes("otelcol"),
            }

  build-otelcol:
    needs: [check]
    if: fromJson(needs.check.outputs.changes).otelcol
    uses: ./.github/workflows/wf-build.yml
    with:
      push: ${{ needs.check.outputs.buildonly == 'false' }}
      target: otelcol
