name: on push

on:
  push:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  check:
    runs-on: ubuntu-latest
    outputs:
      buildonly: ${{ github.ref != format('refs/heads/{0}', github.event.repository.default_branch) }}
      changes: ${{ steps.changes.outputs }}
    steps:
      - uses: actions/checkout@v6

      - name: Detect changed files
        id: changes
        uses: tj-actions/changed-files@v47
        with:
          files_yaml: |
            workflows: [.github/workflows/**/*]
            otelcol: [otelcol/**/*]

  build-otelcol:
    needs: [check]
    if: needs.check.outputs.changes.otelcol_any_changed == 'true' || needs.check.outputs.changes.workflows_any_changed == 'true'
    uses: ./.github/workflows/wf-build.yml
    with:
      push: ${{ needs.check.outputs.buildonly == 'false' }}
      target: otelcol
