name: Build

on:
  workflow_dispatch:
    inputs:
      push:
        description: Push built images to registry
        type: boolean
        required: false
        default: true
      target:
        description: Target image to build
        type: string
        required: true
  workflow_call:
    inputs:
      push:
        description: Push built images to registry
        type: boolean
        required: false
        default: true
      target:
        description: Target image to build
        type: string
        required: true

permissions:
  contents: read
  packages: write

jobs:
  build_and_push:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: docker/setup-buildx-action@v3

      - uses: docker/setup-qemu-action@v3

      - if: inputs.push
        name: Login to ghcr.io
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Generate image metadata
        uses: docker/metadata-action@v5
        id: metadata
        with:
          images: ghcr.io/rokoucha/${{ inputs.target }}
          tags: |
            type=raw,value=latest,enable={{is_default_branch}}
            type=ref,event=pr
            type=sha

      - name: Build and Push
        uses: docker/bake-action@v6
        env:
          ON_DEFAULT_BRANCH: ${{ github.ref == format('refs/heads/{0}', github.event.repository.default_branch) }}
        with:
          push: ${{ inputs.push }}
          workdir: ${{ inputs.target }}
          source: .
          files: |
            docker-bake.hcl
            ${{ steps.metadata.outputs.bake-file }}
          set: |
            *.cache-from=type=gha
            ${{  env.ON_DEFAULT_BRANCH == 'true' && '*.cache-to=type=gha,mode=max' || '' }}
